[user]
	name = Sankalp Tipnis
	email = 35152001+sankalptipnis@users.noreply.github.com
[core]
	editor = subl -n -w
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[init]
	defaultBranch = main
[push]
	default = current
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "status"]
	added = brightgreen bold
	changed = brightred bold
	untracked = brightmagenta bold
	deleted = brightblue bold
[color "decorate"]
    head = brightcyan bold
    branch = brightgreen bold
    remoteBranch=brightred bold
[color "diff"]
	meta = brightyellow
	frag = brightmagenta bold
	commit = brightyellow bold
	func = brightblue bold
	old = brightred bold
	new = brightgreen bold
	whitespace = brightred reverse
[color "diff-highlight"]
	oldNormal = brightred bold
	oldHighlight = brightred bold 52
	newNormal = brightgreen bold
	newHighlight = brightgreen bold 22