[user]
	name = Sankalp Tipnis
	email = 35152001+sankalptipnis@users.noreply.github.com
[core]
	editor = subl -n -w
	excludesfile = ~/.gitignore
	pager = delta
[init]
	defaultBranch = main
[push]
	default = current
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
    features = decorations
	line-numbers = true
	side-by-side = true
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
	line-numbers-left-style = brightblue
    line-numbers-right-style = brightblue
    commit-decoration-style = brightblue ol
    commit-style = raw
    file-style = brightwhite bold
	file-decoration-style = brightwhite ol ul
    hunk-header-decoration-style = brightwhite box
    hunk-header-file-style = brightred bold
    hunk-header-line-number-style = brightred bold
    hunk-header-style = file line-number
